.navbar {
  background-color: #060606;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

.navbar-links li {
  margin-left: 450px;
  background-color: rgb(28, 28, 28);
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: -40px;
}

.navbar-links li div {
  color: #fff;
  text-decoration: none;
  transition: opacity 0.2s ease;
}

.navbar-links li div:hover {
  opacity: 0.8;
}

.logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #4164d5;
  height: 50px;
  width: 50px;
}

.navbar-links div Button{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
